

p {
  color: black;
}

main {
  margin: 7rem 0;
  ;
}

.container-fluid {
  max-width: 60%;
  margin: 0 auto;
}

.rounded {
  margin-top: 20px;
}

.col-lg-6 {
  text-align: center;
}


.border {
  border-radius: 30px;
  box-shadow: 5px 10px 12px 3px rgba(0, 0, 0, 0.2);
  padding: 3rem 0rem;
 
}
.form-group {
  display: flex;
  justify-content: center;
}

.form-control {
  border-radius: 20px;

}


.col {
  width: 72%;
  position: relative;
  left: 14%;
}


.col-md-6{
  margin: 0px 5px;
  display: block;
}

.form-container {
  text-align: center;
}

.button {
 margin: 20px 0px;
}








