

.container {
  
  margin-top: 20%;
}

.rounded {
  margin-top: 20px;
}

.col-lg-6 {
  text-align: center;
}


.border {
  border-radius: 30px;
  box-shadow: 4px 3px 3px 2px rgba(0, 0, 0, 0.2);
 max-width: 50%;
margin: 0 auto;
}
.form-group {
  display: flex;
  justify-content: center;
}

.form-control {
  border-radius: 20px;

}


.col {
  width: 72%;
  position: relative;
  left: 14%;
}

.col-md-4 {
  margin: 0px 15px;
}

.col-md-6{
  margin: 0px 5px;
}

.form-container {
  text-align: center;
}

.button {
 margin: 20px 0px;
}
